<div class="container">
  <div class="card mb-3">
    <div class="card-title">
      <h1><%= @post.title %></h1>
    </div>
    <hr>
    <div class="card-body">
      <%= @post.content %>
    </div>
    <div>
      <%= link_to "Edit", edit_post_path(@post), class: "btn btn-warning" %>
      <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" },class: "btn btn-danger" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="card mb-3">
    <div class="card-body">
      <h3><%= @post.comments.count %> Comments</h3>
      <%= render @post.comments %>
      <hr>
      <%= render 'comments/form' %>
    </div>
  </div>
</div>


<div class="container">
  <%= link_to "All Posts", posts_path %>
</div>
